/* #region Fonts from: http://www.cufonfonts.com */
@font-face {
    font-family: 'DINPro-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('DINPro-Regular'), url('DINPro-Regular_13937.ttf') format('truetype');
}
@font-face {
    font-family: 'DINPro-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('DINPro-Bold'), url('DINPro-Bold_13934.ttf') format('truetype');
}
@font-face {
    font-family: 'DINPro-Medium';
    font-style: normal;
    font-weight: normal;
    src: local('DINPro-Medium'), url('DINPro-Medium_13936.ttf') format('truetype');
}
/* #endregion */


* {
    /* Сбрасываем стандартные падинги и отступы со всех элементов */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.white {
    color: whitesmoke;
}
.yellow {
    color: #BCFB08;
}
.green {
   color: rgba(55, 246, 55, 0.76); 
}
html, body {
    height: 100%; width: 100%;
}
body {
    z-index: 1000;
    display: flex;
    flex-direction: column;
    /*background-color: #171c28;*/
    font-family: 'DINPro-Regular', sans-serif;
    color: whitesmoke;
    /* background-size: 970px 100%;
    height: 60px;
    border-radius: 10px; */
    background-image: url("../assets/opendota2.png");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position-y: -20px, 680px, 1380px, 2250px; */
    background-position-y: 10px;
    background-color: rgb(0, 19, 34);
    /* overflow: auto; */
    border: 2px solid red;
    /* width: 2000px; */
    /* margin: 0 auto; */
    /* min-width:1348px;
    min-height: 
    margin: 0 auto;    */
}

/* #region header */
header {
    position: fixed;
    top: 0px; left: 0px;
    width: 100%; height: 70px;
    background-color: rgb(0, 19, 34);
    border-bottom: 1px solid #2E3842;
    z-index: 100;
}
.header-body {
    width: 1349px; height: 70px;
    margin: 0 auto;
    display: flex; flex-direction: row;
    justify-content: space-between;
    z-index: 100;
    /* border: 1px solid white; */
}
/* #endregion */

/* #region menu */
.menu {
    display: flex; flex-direction: row; 
    justify-content: flex-end;
    width: 700px; height: 69px;
    margin-left: 0px;
    /* border: 1px solid white; */
}
.menu-item-wrapper {
    position: relative;
    height: 69px;
    text-align: center;
    margin-right: 60px;
    /* border: 1px solid white; */
}
.active-menu-item {
    color:#BCFB08;
}
.active-menu-item .mi-title {
    color:#BCFB08;
}
.active-menu-item .mi-highlighter {
    background:#BCFB08;
}
.mi-title {
    color: whitesmoke;
    font-size: 20px; line-height: 3.5;
    text-align: center; text-transform: uppercase; text-decoration: none;
    border: none;
    transition: color 0.4s ease 0s;
}
.mi-title:hover {
    color:#BCFB08;
    cursor: pointer;
    /* transition: color 0.4s ease 0s; */
}
.mi-highlighter {
    position: absolute; top: 69px;
    width: 100%; height: 1px;
}
.mi-highlighter:before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: #BCFB08;
    transform: scaleX(0);
    transition: transform 0.4s ease 0s;
}
.mi-title:hover + .mi-highlighter:before {
    transform: scaleX(1);
}
.steam-signin-logo:hover + .mi-highlighter:before {
    transform: scaleX(1);
}
.steam-signin-logo {
    position: relative;
    width: 175px; height: 69px;
}
.steam-signin-logo img {
    position: absolute;
    top: 0px; left: 0px;
    width: 175px; height: 69px;
    transition: opacity 0.4s ease 0s;
}
.steam-signin-logo:hover img.ssl-top {
    cursor: pointer;
    opacity: 0;
}
/* #endregion */

main {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 4000px;
    width: 100%;
    /* overflow: auto; */
    /* background-color: #001322b9; */
    background-color: #00132279;
    /* background-size: 150%; */
    /* background-position-x: -340px; */
    /* overflow: auto; */
}

/* #region logo */
.beta {
    text-transform: none;
    font-size: 13px;
}
/* #enfregion */


/* #region footer */
footer {
    width: 100%; height: 60px; 
    /* margin-top: 24px; */
    /* margin-top: auto; */
    background-color: rgb(0, 19, 34);
    border-top: 1px solid rgb(255, 255, 255, 0.1);
    margin: 0 auto;
    /* align-self: flex-end; */
}
.footer-body {
    width: 1349px;
    margin: 0 auto;
    height: 59px; 
    color: #9BAFBB;
    text-align: center; font-size: 18px; line-height: 3.4;
}

/* #endregion */

